@font-face {
  font-family: 'G_Black';
  src: url('../fonts/Gilroy/Gilroy-Black.ttf');
}
@font-face {
  font-family: 'G_BlackIt';
  src: url('../fonts/Gilroy/Gilroy-BlackItalic.ttf');
}
@font-face {
  font-family: 'G_Bold';
  src: url('../fonts/Gilroy/Gilroy-Bold.ttf');
}
@font-face {
  font-family: 'G_BoldIt';
  src: url('../fonts/Gilroy/Gilroy-BoldItalic.ttf');
}
@font-face {
  font-family: 'G_ExBold';
  src: url('../fonts/Gilroy/Gilroy-Extrabold.ttf');
}
@font-face {
  font-family: 'G_ExBoldIt';
  src: url('../fonts/Gilroy/Gilroy-ExtraboldItalic.ttf');
}
@font-face {
  font-family: 'G_Heavy';
  src: url('../fonts/Gilroy/Gilroy-Heavy.ttf');
}
@font-face {
  font-family: 'G_HeavyIt';
  src: url('../fonts/Gilroy/Gilroy-HeavyItalic.ttf');
}
@font-face {
  font-family: 'G_Light';
  src: url('../fonts/Gilroy/Gilroy-Light.ttf');
}
@font-face {
  font-family: 'G_LightIt';
  src: url('../fonts/Gilroy/Gilroy-LightItalic.ttf');
}
@font-face {
  font-family: 'G_Medium';
  src: url('../fonts/Gilroy/Gilroy-Medium.ttf');
}
@font-face {
  font-family: 'G_MediumIt';
  src: url('../fonts/Gilroy/Gilroy-MediumItalic.ttf');
}
@font-face {
  font-family: 'G_Regular';
  src: url('../fonts/Gilroy/Gilroy-Regular.ttf');
}
@font-face {
  font-family: 'G_RegularIt';
  src: url('../fonts/Gilroy/Gilroy-RegularItalic.ttf');
}
@font-face {
  font-family: 'G_SeBold';
  src: url('../fonts/Gilroy/Gilroy-Semibold.ttf');
}
@font-face {
  font-family: 'G_SeBoldIt';
  src: url('../fonts/Gilroy/Gilroy-SemiboldItalic.ttf');
}
@font-face {
  font-family: 'Joyride';
  src: url('../fonts/JoyrideSTDItalic.otf');
}
@font-face {
  font-family: 'Bebas';
  src: url('../fonts/BebasNeue-Regular.ttf');
}
